html body {
    background-color: rgba(0,0,0,1.00);

}

.font {
  font-style: Impact;
}

.text {
  text-align: center;
}

/**
* Link Styles
*/

a:link,
a:visited {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}
